In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.0'

In [21]:
GOOGLE_SHEET_URL = "https://docs.google.com/spreadsheets/d/1Hh9wPMVThGmXrctBrG15eOux8l5I9m5T1vaRisHqpF4/export?format=csv&gid=431063534"
CHUNKSIZE = 1000

In [4]:
df = pd.read_csv(GOOGLE_SHEET_URL, nrows=100)

In [6]:
print(pd.io.sql.get_schema(df, name='test_data'))

CREATE TABLE "test_data" (
"Анастасия" TEXT,
  "yandex" TEXT,
  "2024-10-29 12:01:19" TEXT,
  "7 480,00" INTEGER,
  "Математика, Обществознание" TEXT,
  "Подготовка за 7 месяцев до ОГЭ" TEXT,
  "Не актуально" TEXT,
  "Unnamed: 7" REAL,
  "Unnamed: 8" REAL,
  "Unnamed: 9" REAL,
  "Unnamed: 10" REAL,
  "Unnamed: 11" REAL,
  "Unnamed: 12" REAL,
  "Unnamed: 13" REAL
)

In [13]:
# cleaning and correction data
column_names = ['name', 'source', 'order_date', 'amount', 'subjects', 'course_name', 'duration']

for i in range(len(df.columns) - len(column_names)):
    column_names.append(f'empty{i+1}')

df.columns = column_names
df = df.drop(columns=[col for col in df.columns if col.startswith('empty')])
df = df.dropna(how='all')
df.order_date = pd.to_datetime(df.order_date)

def cast_amount(amount_str):
    if not isinstance(amount_str, str):
        return int(amount_str) if amount_str else 0
    clean_amount = amount_str.replace(' ', '').replace(',', '.')
    return int(clean_amount)

df['amount'] = df['amount'].apply(cast_amount)

In [14]:
print(pd.io.sql.get_schema(df, name='test_data'))

CREATE TABLE "test_data" (
"name" TEXT,
  "source" TEXT,
  "order_date" TIMESTAMP,
  "amount" INTEGER,
  "subjects" TEXT,
  "course_name" TEXT,
  "duration" TEXT
)

In [19]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/tiktok_data')
engine.connect()

In [38]:
df_iter = pd.read_csv(
    GOOGLE_SHEET_URL, 
    iterator=True,
    chunksize=CHUNKSIZE,
    header=None,
    skiprows=[],
    skip_blank_lines=True,
    na_values=['', 'NA', 'N/A'],
    keep_default_na=True
)

In [39]:
column_names = ['name', 'source', 'order_date', 'amount', 'subjects', 'course_name', 'duration']

def cast_amount(amount_str):
    try:
        if pd.isna(amount_str):
            return 0
        if isinstance(amount_str, (int, float)):
            return int(amount_str)
        clean_amount = str(amount_str).replace(' ', '').replace(',', '.')
        return int(float(clean_amount))
    except (ValueError, AttributeError):
        return 0

In [40]:
def process_and_save_data(df_iter, engine):
    count = 0
    try:
        while True:
            try:
                df = next(df_iter)
                count += 1
                
                if len(df.columns) > len(column_names):
                    extra_cols = len(df.columns) - len(column_names)
                    current_columns = column_names + [f'empty{i+1}' for i in range(extra_cols)]
                    df.columns = current_columns
                    df = df.drop(columns=[col for col in df.columns if col.startswith('empty')])
                else:
                    df.columns = column_names[:len(df.columns)]
                
                df = df.dropna(how='all')
                df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
                df['amount'] = df['amount'].apply(cast_amount)
                
                print(f"\nЧанк {count}:")
                print(df.head(2))
                print(f"Всего строк: {len(df)}")
                
                with engine.begin() as connection:
                    df.to_sql(
                        name='test_data',
                        con=connection,
                        if_exists='append',
                        index=False,
                        method='multi'
                    )
                    print(f"Чанк {count} успешно сохранён")
                    
            except StopIteration:
                print(f"\nОбработка завершена. Всего обработано чанков: {count}")
                break
                
            except Exception as e:
                print(f"\nОшибка при обработке чанка {count}: {str(e)}")
                continue
                
    except Exception as e:
        print(f"Критическая ошибка: {str(e)}")
    finally:
        print("Завершение работы")

In [41]:
process_and_save_data(df_iter, engine)

Чанк 1:
        name  source          order_date  amount                    subjects
0  Анастасия  yandex 2024-10-29 12:01:19       0  Математика, Обществознание  \
1  Анастасия     seo 2025-03-04 16:45:22    5990       Русский язык / Нормис

                      course_name      duration
0  Подготовка за 7 месяцев до ОГЭ  Не актуально
1               Весенний курс ЕГЭ       1 месяц
Всего строк: 999
Чанк 1 успешно сохранён

Чанк 2:
        name  source          order_date  amount                    subjects
1000   Алеся     seo 2025-02-08 15:28:26       0      Английский / КОМФОРТИК  \
1001  Милена  yandex 2025-02-08 14:30:56       0  Обществознание / КОМФОРТИК

               course_name duration
1000  Полугодовой курс ЕГЭ  1 месяц
1001  Полугодовой курс ЕГЭ  1 месяц
Всего строк: 998
Чанк 2 успешно сохранён

Чанк 3:
           name     source          order_date  amount
2000  Маргарита    content 2025-01-22 21:57:59       0  \
2001      Алина  platforma 2025-01-22 21:57:44       0

                               subjects           course_name duration
2000  Математика 85+ баллов / КОМФОРТИК  Полугодовой курс ЕГЭ  1 месяц
2001               Биология / КОМФОРТИК  Полугодовой курс ЕГЭ  1 месяц
Всего строк: 999
Чанк 3 успешно сохранён

Чанк 4:
        name source          order_date  amount
3000  Елисей    seo 2025-01-16 17:24:13       0  \
3001   Дарья    seo 2025-01-16 17:18:01       0

                             subjects           course_name duration
3000  Обществознание / НА МАКСИМАЛКАХ  Полугодовой курс ЕГЭ  1 месяц
3001       Обществознание / КОМФОРТИК  Полугодовой курс ЕГЭ  1 месяц
Всего строк: 999
Чанк 4 успешно сохранён

Чанк 5:
        name  source          order_date  amount
4000    Дана  yandex 2025-01-10 11:10:10       0  \
4001  Кирилл     seo 2025-01-10 10:48:37       0

                                     subjects           course_name duration
4000                 Обществознание / ВСЕ САМ  Полугодовой курс ЕГЭ  1 месяц
4001  Химия / КОМФОРТИК, Биология / КОМФОРТИК  Полугодовой курс ЕГЭ  1 месяц
Всего строк: 1000
Чанк 5 успешно сохранён

Чанк 6:
       name  source          order_date  amount                     subjects
5000   майя  yandex 2024-12-20 18:00:33       0  Английский / НА МАКСИМАЛКАХ  \
5001  Арина     seo 2024-12-20 16:20:02       0         Биология / КОМФОРТИК

               course_name duration
5000  Полугодовой курс ЕГЭ  1 месяц
5001  Полугодовой курс ЕГЭ  1 месяц
Всего строк: 998
Чанк 6 успешно сохранён

Чанк 7:
           name    source          order_date  amount        subjects
6000  Анастасия  trns2911 2024-11-29 19:01:35       0  Обществознание  \
6001      влада  trns2911 2024-11-29 19:01:32       0  Математика 85+

                                   course_name duration
6000  Подготовка к ЕГЭ 'Погоня за мечтой' 2025  1 месяц
6001  Подготовка к ЕГЭ 'Погоня за мечтой' 2025  1 месяц
Всего строк: 1000
Чанк 7 успешно сохранён

Чанк 8:
                  name source          order_date  amount
7000  Севиндж Насирова   site 2024-11-10 13:58:54       0  \
7001         Анастасия     op 2024-11-10 13:33:32       0

                          subjects                     course_name
7000  Русский язык, Математика 75+  Подготовка за 7 месяцев до ЕГЭ  \
7001               Химия, Биология  Подготовка за 7 месяцев до ЕГЭ

          duration
7000  Не актуально
7001  Не актуально
Всего строк: 1000
Чанк 8 успешно сохранён

Чанк 9:
      name source          order_date  amount        subjects
8000  Лена    seo 2024-10-31 22:20:30       0    Русский язык  \
8001   Яна     op 2024-10-31 22:19:33       0  Обществознание

                         course_name      duration
8000  Подготовка за 7 месяцев до ЕГЭ  Не актуально
8001  Подготовка за 7 месяцев до ЕГЭ  Не актуально
Всего строк: 1000
Чанк 9 успешно сохранён

Чанк 10:
       name  source          order_date  amount        subjects
9000  Мария     seo 2024-10-25 20:06:10       0    Русский язык  \
9001    Яна  yandex 2024-10-25 19:52:12       0  Обществознание

                         course_name duration
9000  Подготовка за 7 месяцев до ЕГЭ  1 месяц
9001  Подготовка за 7 месяцев до ЕГЭ  1 месяц
Всего строк: 1000
Чанк 10 успешно сохранён

Чанк 11:
           name source          order_date  amount
10000  Вероника    seo 2024-10-15 11:11:10       0  \
10001     Злата    seo 2024-10-15 11:04:49       0

                                      subjects            course_name duration
10000                           Обществознание  Подготовка к ЕГЭ 2025  1 месяц
10001  Математика 85, Биология, Обществознание  Подготовка к ЕГЭ 2025  1 месяц
Всего строк: 1000
Чанк 11 успешно сохранён

Чанк 12:
            name   source          order_date  amount subjects
11000  ВЛАДислав       op 2024-10-08 14:14:33       0    Химия  \
11001      алина  content 2024-10-08 14:09:19       0   Физика

                 course_name duration
11000  Подготовка к ЕГЭ 2025  1 месяц
11001  Подготовка к ЕГЭ 2025  1 месяц
Всего строк: 1000
Чанк 12 успешно сохранён

Чанк 13:
            name  source          order_date  amount        subjects
12000     Марина  family 2024-09-26 19:39:33       0      Литература  \
12001  Анастасия  yandex 2024-09-26 19:38:30       0  Обществознание

                 course_name  duration
12000  Подготовка к ЕГЭ 2025       NaN
12001  Подготовка к ЕГЭ 2026       NaN
Всего строк: 1000
Чанк 13 успешно сохранён

Чанк 14:
            name  source          order_date  amount
13000   Ангелина  yandex 2024-09-15 16:08:10       0  \
13001  Ким Павел     seo 2024-09-15 15:58:01       0

                                   subjects            course_name  duration
13000                               История  Подготовка к ЕГЭ 2025       NaN
13001  Математика, Русский язык, Английский  Подготовка к ЕГЭ 2025       NaN
Всего строк: 1000
Чанк 14 успешно сохранён

Чанк 15:
                    name  source          order_date  amount    subjects
14000  Куприянова Марина     NaN 2024-09-06 18:46:29       0  Литература  \
14001               Юлия     NaN 2024-09-06 18:43:44       0  Математика

                         course_name  duration
14000  нужно уточнить экзамен и год.       NaN
14001  нужно уточнить экзамен и год.       NaN
Всего строк: 196
Чанк 15 успешно сохранён

Обработка завершена. Всего обработано чанков: 15
Завершение работы